.category-name {
    font-weight: bold;
    font-size: 1.7em;
}

.badge {
    background-color: rgb(44, 233, 230) !important;
    text-transform:  uppercase;
    letter-spacing: 0px;
    font-weight: bold;
}

.input_checkbox input {
    width: auto !important;
}